body {
    background-color: #f0f0fe;
}

table {
    align: right;
    border-collapse: collapse;
    border: 1px solid;
}
th, td {
    border: 1px solid;
}

p {
    line-height: 1.5;
    margin: 0.2em 10em;
}

.noveldata {
    display: flex;
    justify-content: flex-end;
}

.row {
    display: flex;
}

.cell {
    margin: auto;
}
.copyright {
    text-align: right;
    font-style: italic;
    font-size: small;
}
